body {
  background: radial-gradient(farthest-side ellipse at 10% 0,#333867 20%,#17193b);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  min-height: 100vh;
  padding: 50px 0 !important;
}

.main {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  transform: translateY(25%);
  background-color: rgba(18,20,43,.42);
  box-shadow: 0 25px 20px -100px rgba(0, 0, 0, 10%), 0 0 15px rgba(0, 0, 0, 6%);
  border: 0px solid transparent;
  border-radius: 0.25rem;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;

  &.dashboard {
    width: 80%;
    height: 100%;
    transform: none;
    padding-bottom: 10px;
    max-width: 1000px;

    .content {
      padding-left: 20px;
      text-align: center;
    }
    strong {
      color: #fff;
    }
    .content > h4 > a {
      color: #485fc7;
    }
  }
  
  .content {
    padding-top: 40px;

    h4 {
      color: #fff;
      font-size: 2.25rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 700;
      line-height: 3rem;
    }

    &.login-form {
      text-align: center;

      .input-form {
        padding-top: 30px;

        > button {
          margin-top: 30px;
        }

        .dropdown {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.send-token-trigger,
.create-new-trigger {
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

strong {
  color: #fff;
}

.address-block {
  padding-top: 20px;
  text-align: left;
}

.tokens-block {
  padding-top: 40px;
  text-align: left;

  h4 {
    font-size: 1.5em !important;
    line-height: 1rem !important;
    margin-bottom: 5px;
    margin-top: 50px;
  }
}

.create-new-trigger {
  &.disabled {
    cursor: default;
    opacity: 0.6;
  }
  i {
    display: block;
    margin-top: 33px;
  }
}

.send-token-trigger {
  background: #fff;
  width: 100px;
  border-radius: 5px;
  padding: 7px 7px 9px 5px;
  float: right;
  margin-right: 40px;
  margin-top: -50px;
  text-align: center;
  cursor: pointer;
  color: #14172c;

  i {
    font-size: 0.8rem;
    margin-right: 10px;
  }

  &.sell-token-trigger {
    width: 100px !important;
  }
  &.buy-token-trigger {
    width: 100px !important;
    margin-right: 160px;
  }
}

.Modal-send-token {
  .dropdown {
    width: 100%;

    .dropdown-content {
      max-height: 175px;
      overflow-y: auto;
    }
    .dropdown-balance {
      float: right;
    }
    .dropdown-trigger {
      .dropdown-balance {
        margin-left: 20px;
      }
    }
  }
}

.logout-btn {
  background: #fff;
  padding: 10px 15px;
  color: #14172c;
  float: right;
  cursor: pointer;
}

.faucet-btn {
  background: #fff;
  padding: 3px 5px;
  color: #14172c;
  cursor: pointer;
  margin-left: 10px;
}

.app-version {
  position: absolute;
  top: 0;
  opacity: 0.6;
  font-size: 0.9em;
}

.text-left {
  text-align: left !important;
}

.ucfirst {
  text-transform: capitalize;
}

.escrow-send-token-trigger {
  background: #fff;
  width: 170px;
  border-radius: 5px;
  padding: 7px 7px 9px 5px;
  float: right;
  margin-right: 160px;
  margin-top: -50px;
  text-align: center;
  cursor: pointer;
  color: #14172c;

  i {
    padding-right: 10px;
  }
}

.escrow-token-explorer-link,
.escrow-token-explorer-link:hover {
  color: #37e39f;
  position: absolute;
  left: 400px;
  margin-top: 25px;
}

.escrow-stop-btn {
  background-color: #00b9d6ad;
  border-color: #00b9d6ad;
}